body {
	background-color: #ffffff;
}

#header {
	background-color: #ffffff;
}

#left-side .tile-50 {
	background-color: #ffffff;
}

.tile-100 {
	background-color: #ffffff;
}


@media print and (max-aspect-ratio: 1/1) {
	.clue-block {
		display: inline-block;
		max-width: 100vw;
	}
}


/* buttons */
.game-button {
	display: none;
}

.selected-game-button {
	display: none;
}

.game-button:hover {
	display: none;
}

.selected-game-button:hover {
	display: none;
}


/* menu */
.ui-button {
    display: none;
}

.ui-button:hover {
	display: none;
}

.selected-ui-button {
	display: none;
}

.selected-ui-button:hover {
	display: none;
}
