body {
	margin: 0;
	padding: 0;
	top: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
	background-color: #baffee;
}

h1 {
	margin: 0;
	padding: 5px;
}

h3 {
	margin: 2px;
}

h2 {
	margin: 5px;
}

#header {
	width: 100%;
	background-color: #a9eedd;
	top: 0;
	padding: 0;
}

/* main */
.main-element {
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
}

/* clues */
.clue-block {
	display: inline-block;
	max-width: 30vw;
}
.clue-grid {
	display: inline-block;
	padding: 6px;
}

.clue-row {
	height: 50px;
	padding: 0.5px;
}

.clue-item {
	display: inline;
	padding: 0.5px;
}

#left-side .tile-50 {
	background-color: #a9eedd;
}


/* grid */
.grid-item {
	display: inline;
	padding: 1px;
}

.grid-row {
	padding: 1px;
}

.tile-100 {
	width: 100px;
	height: 100px;
	background-color: #a0522d;
}

.tile-50 {
	width: 50px;
	height: 50px;
}

/* buttons */
.game-button {
	background: #b1633e;
	border: none;
	
	width: 50px;
	height: 50px;
	padding: 0;
	transition: all 0.2s;
}

.selected-game-button {
	background: #ff77dd;
	border: none;
	
	width: 50px;
	height: 50px;
	padding: 0;
	transition: all 0.2s;
}

.game-button:hover {
	background: #ddaa55;
}

.selected-game-button:hover {
	background: #ffeeee;
}


/* menu */
#menu {  
	display: none;
	overflow-x: hidden;
}

#header-right {
}

.ui-button{
	font-family: Helvetica Neue, Arial, sans-serif;
	background-color: transparent;
	display: inline-block;
	border: 0.1em solid;
	margin: 0 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}

.ui-button:hover{
	color: #000000;
	background-color: #ddaa55;
}

/* narrow screen */
@media screen and (max-aspect-ratio: 3/4) {
	.clue-block {
		display: inline-block;
		max-width: 80vw;
	}
}

/* dark mode default */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #253330;
		color: #ffffff;
	}
	
	#header {
		background-color: #131918;
	}
	
	.ui-button {
		color: #000000;
	}
}